html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  width: 100%;
  height: 100%; }

.section-title {
  margin: 35px auto;
  width: 100%;
  max-width: calc( 840px - 40px);
  font-size: 20px;
  font-weight: 400;
  padding: 0 40px; }

nav {
  width: 100%;
  background-color: #fff;
  height: 60px;
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  border-bottom: 1px solid #dadada; }
  nav h1 {
    width: auto;
    float: left;
    text-align: left;
    line-height: 60px;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 0 20px; }
  nav .navbar-links-dropdown {
    position: relative;
    float: right; }
    nav .navbar-links-dropdown .navbar-links-dropdown-btn {
      position: absolute;
      border-radius: 2px;
      color: #fff;
      top: 7px;
      right: 20px;
      font-size: 25px;
      padding: 13px;
      cursor: pointer;
      text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555; }
    nav .navbar-links-dropdown #navbar-links-dropdown-content {
      display: none;
      position: absolute;
      top: 70px;
      right: 10px;
      width: 150px;
      height: auto;
      z-index: 5;
      background-color: #fff;
      border: 1px solid #dadada;
      padding: 0 0 10px 0;
      border-radius: 3px; }
      nav .navbar-links-dropdown #navbar-links-dropdown-content a {
        display: block;
        width: 90%;
        height: 35px;
        margin: 10px auto 0 auto;
        text-align: center;
        line-height: 35px;
        font-size: 13px;
        color: #111;
        text-decoration: none;
        cursor: pointer; }
        nav .navbar-links-dropdown #navbar-links-dropdown-content a::selection {
          color: #111; }
        nav .navbar-links-dropdown #navbar-links-dropdown-content a:hover {
          background-color: #f3f3f3; }

.techs {
  display: block;
  height: auto;
  background-color: #fff;
  width: calc(100%-80px);
  padding: 0 20px; }
  .techs p {
    margin: 15px auto 20px auto;
    max-width: 800px;
    width: calc(100% - 40px);
    font-size: 13px; }
  .techs .content-techs {
    display: block;
    margin: 15px auto 0 auto;
    max-width: 800px;
    width: calc(100% - 40px);
    background-color: cornsilk;
    clear: both; }
    .techs .content-techs .tech {
      width: 45px;
      height: 45px;
      background-color: #f3f3f3;
      border-radius: 3px;
      position: relative;
      margin: 0 13px 28px 0;
      float: left; }
      .techs .content-techs .tech span {
        position: absolute;
        top: 125%;
        left: 50%;
        font-size: 9px;
        font-weight: 200;
        transform: translate(-50%, -50%); }
      .techs .content-techs .tech img {
        position: absolute;
        width: 33px;
        height: 33px;
        background: #fff;
        border-radius: 3px;
        top: 50%;
        left: 50%;
        padding: 3px;
        transform: translate(-50%, -50%); }

.parallax-img {
  height: 693px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("../../assets/img/img1.jpg");
  margin: 60px 0 0 0; }
  .parallax-img h2 {
    position: absolute;
    width: auto;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.95);
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    white-space: nowrap; }
    @media only screen and (max-width: 400px) {
      .parallax-img h2 {
        background-size: 20%; } }

.contact {
  display: block;
  height: auto;
  background-color: #fff; }
  .contact .content-contact {
    display: block;
    margin: 15px auto 0 auto;
    max-width: 800px;
    width: calc(100% - 80px);
    height: auto;
    padding: 0 20px 35px 20px; }
    .contact .content-contact h3 {
      width: 100%;
      margin: 0 0 10px 0;
      text-align: left;
      font-weight: 400;
      font-size: 13px;
      font-weight: 200; }
      .contact .content-contact h3 strong {
        font-weight: 600; }
    .contact .content-contact h4 {
      width: 100%;
      margin: 20px 0 10px 0;
      text-align: left;
      font-weight: 200;
      font-size: 13px;
      font-weight: 200; }

.about {
  display: block;
  height: auto;
  background-color: #fff;
  width: calc(100%-80px);
  padding: 0 20px; }
  .about .content-about {
    display: block;
    margin: 15px auto 0 auto;
    max-width: 760px;
    width: calc(100% - 80px);
    height: auto;
    padding: 20px 20px;
    font-weight: 200;
    font-size: 13px;
    line-height: 24px;
    border: 1px solid #dadada;
    border-radius: 3px; }
    .about .content-about:first-letter {
      font-weight: 500;
      font-size: 22px;
      padding: 0 2px 0 0; }

.projects {
  display: block;
  height: auto;
  background-color: #fff;
  width: calc(100% - 80px);
  padding: 0 40px; }
  .projects h3 {
    max-width: 800px;
    margin: 35px auto 20px auto;
    width: 100%;
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    font-weight: 200; }
    .projects h3 strong {
      font-weight: 600; }
  .projects .content-projects {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 230px;
    column-gap: 15px;
    row-gap: 20px; }
    @media only screen and (max-width: 700px) {
      .projects .content-projects {
        grid-template-columns: 1fr 1fr; } }
    @media only screen and (max-width: 500px) {
      .projects .content-projects {
        grid-template-columns: 1fr;
        grid-auto-rows: 270px; } }
    .projects .content-projects .project {
      display: grid;
      grid-template-rows: 150px 35px 40px; }
      @media only screen and (max-width: 500px) {
        .projects .content-projects .project {
          grid-template-rows: 200px 40px 40px; } }
      .projects .content-projects .project .project-img {
        background-color: fff;
        border: 1px solid #dadada;
        border-bottom: none; }
        .projects .content-projects .project .project-img:hover img {
          filter: brightness(100%); }
        .projects .content-projects .project .project-img img {
          height: 150px;
          width: 100%;
          overflow: hidden;
          background-position: center;
          object-fit: cover;
          filter: brightness(95%);
          cursor: pointer; }
      .projects .content-projects .project .project-title {
        line-height: 35px;
        padding: 0 0 0 10px;
        margin: 0;
        font-size: 13px;
        border: 1px solid #dadada;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        font-weight: 200; }
      .projects .content-projects .project .project-stack {
        clear: both; }
        .projects .content-projects .project .project-stack .project-tech {
          width: 30px;
          height: 30px;
          background-color: #f3f3f3;
          border-radius: 3px;
          position: relative;
          margin: 10px 13px 28px 0;
          float: left; }
          .projects .content-projects .project .project-stack .project-tech img {
            position: absolute;
            width: 18px;
            height: 18px;
            background: #fff;
            border-radius: 3px;
            top: 50%;
            left: 50%;
            padding: 3px;
            transform: translate(-50%, -50%); }

footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
  border-top: 1px solid #e5e5e5;
  background-color: #f4f4f4;
  color: #3d3d3d; }
  footer a {
    text-decoration: none;
    font-weight: 500;
    color: #3d3d3d; }
